<!DOCTYPE html>
<html>
<head>
  <title>HelpersTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <ul>
    <li><a href="https://rubyplus.com/articles/531-How-to-Install-and-Configure-Resque-to-Handle-Background-Jobs-in-Rails-4-1">https://rubyplus.com/articles/531-How-to-Install-and-Configure-Resque-to-Handle-Background-Jobs-in-Rails-4-1</a></li>
    <li><a href="http://hone.herokuapp.com/resque/2012/08/21/resque-signals.html">Replace <i>rake resque:work QUEUE='*'</i> with <i>TERM_CHILD=1 QUEUES=* rake resque:work</i></a></li>
    <li><a href="http://stackoverflow.com/a/12711338/3205851">Mixin to automate "queue" for a Job class</a></li>
  </ul>

</body>
</html>
